@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default Fallback Colors (Agar Admin Panel se data na load ho) */
  --primary-color: #0f172a;   /* Slate 900 */
  --secondary-color: #3b82f6; /* Blue 500 */
  --accent-color: #f59e0b;    /* Amber 500 */
  --background-color: #f8fafc; /* Slate 50 */
  --text-color: #334155;      /* Slate 700 */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}